// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@miku-hear_green: #20FEB4;
@miku_hear_blue: #1CF4F6;
@miku_head_phone_pink: #FF39CD;
