// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

// Miku Basic Coolors
@miku_hear_green: #20FEB4;
@miku_hear_blue: #1CF4F6;
@miku_head_phone_pink: #FF39CD;
@miku_uniform_black: #2A2B32;
@miku_uniform_white: #FFFFFF;
@miku_light_yellow: #ffff33;


//darken-colors is 25% darker than basic colors

@miku_hear_green-darken: #00ff7f;
@miku_hear_blue-darken: #08d1d3;
@miku_head_phone_pink-darken: #08d1d3;
@miku_light_yellow-darken: #f5f500;

//Off colors is 25% lighter than Basic colors
@miku_head_phone_pink-off: #ff87e1;
@miku_hear_blue-off: #5ef7f9;
